<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>sample</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
</head>

<body>
  <nav>
    <div class="logo">
        <h4><i class="fa fa-book" aria-hidden="true"></i>tango-app</h4>
    </div>
    <ul class="nav-links">
        <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
        <li><a href="/newAccount"><i class="fa fa-user-plus" aria-hidden="true"></i> Signup</a></li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <div class="black-bg" id="js-black-bg"></div>
  </nav>

<div class="container">
  <div id="nav">
    <div class="mt-3">
      
        <button type="button" id ="it" class="btn btn-outline-primary" onclick="change_table('ip')"  >ITパスポート</button>
        <button type="button" id="fe"class="btn btn-outline-success" onclick="change_table('feap')" >基本情報～応用情報</button>
        <button type="button" id="ap"class="btn btn-outline-danger" onclick="change_table('ap')" >応用情報</button>
        <button type="button" id="ky"class="btn btn-outline-info" onclick="change_table('ky')" >共 通</button>
        
    </div>
  </div>

  　
    <p style="margin: 0;"><b>出題数 :</b>
    <input type="radio" name="r" id="r1" value="0" class="ml-2" checked="checked" ><label for="r1">10問</label>
    <input type="radio" name="r" id="r2" value="1" class="ml-2"><label for="r2">30問</label>
    <input type="radio" name="r" id="r3" value="2" class="ml-2"><label for="r3">全問</label><br>
    <b>選択中の問題 :　</b><span id="choice"></span>　
    </p>



    <P id="cnt">　</P>
    <div class="card-body">
      <p id="textdiv_1" class="text-center font-weight-bold">　</p>
      <p class="border-bottom text-center"><span id="textdiv_2">　</span></p>
      <p class="border-bottom text-center"><span id="textdiv_3">　</span></p>
      <p class="border-bottom text-center"><span id="textdiv_4">　</span></p>
      <p class="text-center" type ="hidden"><span id="textdiv_5" type="hidden">　</span></p>
    </div>
    <div class="button">
      <button type="button" class="play-btn-inner"   onclick="changeText()" id ="start">START</button>
      <button type="button" class="play-btn-inner"   onclick="back()" id="bk_btn">back</button>
      <button type="button" class="play-btn-inner" onclick="Reset()">Reset</button>

    </div>
  </div>
<script src=javascripts/app.js></script>
</body>
<script>
  'use strict';

  //*****************************************************************
  // 宣言エリア
  //*****************************************************************
  let array_base = [];
  let array_change = [];
  let ary_cnt = 0;
  let array = [];
  let cnt = 0;
  let flg = 1;
  let flag = false;
  let quantity = 0;
  let choice = document.getElementById("choice");
  let it = document.getElementById("it");
  let fe = document.getElementById("fe");
  let ap = document.getElementById("ap");
  let ky = document.getElementById("ky");
  let fileInput = document.getElementById("01");
  const bk_btn = document.getElementById("bk_btn");
  let elements = document.getElementsByName("r");
  let pDiv1 = document.getElementById("textdiv_1");
  let pDiv2 = document.getElementById("textdiv_2");
  let pDiv3 = document.getElementById("textdiv_3");
  let pDiv4 = document.getElementById("textdiv_4");
  let pDiv5 = document.getElementById("textdiv_5");
  let pcnt = document.getElementById("cnt");
  let fileReader = new FileReader();
  bk_btn.disabled = true;
  it.disabled = false;
  fe.disabled = false;
  ap.disabled = false;
  ky.disabled = false;
  let start = document.getElementById("start");

  getCSV();
  //*****************************************************************
  //CSVファイル読み込み
  //*****************************************************************
  function getCSV() {
    array_base = [];
    let req = new XMLHttpRequest(); // HTTPでファイルを読み込むためのXMLHttpRrequestオブジェクトを生成
    var testfile = "unicode_utf8.csv";
    req.open("get", "csv/" + testfile, true); // アクセスするファイルを指定   
    req.send(null); // HTTPリクエストの発行
    // レスポンスが返ってきたらconvertCSVtoArray()を呼ぶ	
    req.onload = function () {
      convertCSVtoArray(req.responseText); // 渡されるのは読み込んだCSVデータ
      shufle(array_base)
    }
    choice.textContent = '全て';
  }
  //*****************************************************************
  // convertCSVtoArray() 読み込んだCSVデータを二次元配列に変換する関数 
  //*****************************************************************
  //* 読み込んだCSVデータが文字列として渡される
  function convertCSVtoArray(str) {
    let tmp = str.split("\n");
    for (let i = 0; i < tmp.length; ++i) {
      array_base[i] = tmp[i].split(',');
    }
    
  }
  //*****************************************************************
  // shufle(ary) 配列のランダムソート 
  //*****************************************************************
  function shufle(ary) {
    for (var i = ary.length - 1; i > 0; i--) {
      var j = Math.floor(Math.random() * (i + 1));
      var tmp = ary[i];
      ary[i] = ary[j];
      ary[j] = tmp;
    }
  }
  //*****************************************************************
  // Reset()
  //*****************************************************************
  function Reset() {
    start.innerHTML = 'START';
    array = [];

    cnt = 0;
    flg = 1;
    pcnt.innerText = '　';
    pDiv1.innerHTML = '　';
    pDiv2.innerHTML = '　';
    pDiv3.innerHTML = '　';
    pDiv4.innerHTML = '　';
    pDiv5.innerHTML = '　';
    // for (var i = array.length - 1; i > 0; i--) {
    //   var j = Math.floor(Math.random() * (i + 1));
    //   var tmp = array[i];
    //   array[i] = array[j];
    //   array[j] = tmp;
    // }


    for(let i = elements.length; i--;){
      elements[i].disabled = false;
    }
    bk_btn.disabled = true;
    it.disabled = false;
    fe.disabled = false;
    ap.disabled = false;
    ky.disabled = false;
  };

  //*****************************************************************
  // 問題選択
  //*****************************************************************
  function change_table(x){
    //テーブル初期化
    ary_cnt = 0;
    array = [];
    for(let i = 0; i < array_base.length-1; i++){
      var it_pass = array_base[i][3].indexOf('IP')
      var fe_pass = array_base[i][3].indexOf('FE')
      var ap_pass = array_base[i][3].indexOf('AP')

      switch(x){
        case 'ip':
          choice.textContent = 'ITパスポート';
          if ((it_pass != -1 && fe_pass == -1 && ap_pass == -1)  ){
            array[ary_cnt] = array_base[i]
            ary_cnt++;          
          }
          break;
//          
        case 'feap':
        choice.textContent = '基本情報～応用情報';
          if ((it_pass == -1 && fe_pass != -1 && ap_pass != -1  ) || (it_pass == -1 && fe_pass != -1 && ap_pass == -1 ) ||(it_pass != -1 && fe_pass != -1 && ap_pass == -1) ){
            array[ary_cnt] = array_base[i]
            ary_cnt++;          
          }
          break;
//
        case 'ap':
        choice.textContent = '応用情報';
          if (it_pass == -1 && fe_pass == -1 && ap_pass != -1  ){
            array[ary_cnt] = array_base[i]
            ary_cnt++;                    }
          break;
//
        case 'ky':
        choice.textContent = '共通';
          if (it_pass != -1 && fe_pass != -1 && ap_pass != -1  ){
            array[ary_cnt] = array_base[i]
            ary_cnt++;                    }
          break;
        default:
      }
    }
 }

  //*****************************************************************
  // changeText() ボタンを押されたら表示を変える関数 
  //*****************************************************************
  function changeText() {
    it.disabled = true;
    fe.disabled = true;
    ap.disabled = true;
    ky.disabled = true;
     array_change = [];
    if(array.length){
      array_change = array;
    }else{
      array_change = array_base;
    }

    quantity = array_change.length;
    for (var i = elements.length; i--;) {    
      if (elements[i].checked) {
        for(let j = elements.length; j--;){
          if(j == i){
            continue;
          }
          elements[j].disabled = true;
        }
        flag = true;
        switch (elements[i].value) {
          case "0":
            quantity = 10;
            break;
          case "1":
            quantity = 30;
            break;
          case "2":
            quantity = array_change.length;
            break;
        }
      }
    }
    if (!flag){
      alert("問題数を選択してください")
      return;
    }
    start.innerHTML = '<i class="fa fa-play"></i>';



    if ((flg == 1 && cnt == quantity) || (flg == 1 && cnt == array_change.length)) {
      pDiv1.innerText = "終了です。";
      pDiv2.innerHTML = '　';
      pDiv3.innerHTML = '　';
      pDiv4.innerHTML = '　';
      pDiv5.innerHTML = '　';
      return;
    }


    flg = flg ^ 1;
    if (flg == 0) {
      pDiv1.innerHTML = array_change[cnt][flg];
      pDiv2.innerHTML = '　';
      pDiv3.innerHTML = '　';
      pDiv4.innerHTML = '　';
      pDiv5.innerHTML = '　';
      pcnt.innerText = cnt + 1 + '問目／' + quantity + '問';
        if(cnt >= 1){
        bk_btn.disabled = false;
      }
    } else {
      pDiv2.innerHTML = array_change[cnt][flg];
      pDiv3.innerHTML = array_change[cnt][flg + 1];
      pDiv4.innerHTML = array_change[cnt][flg + 2];
      pDiv5.innerHTML = array_change[cnt][flg + 3];
      cnt++;

    }
  // console.log(cnt);


  };

  function back(){
    //flg = 0の時は単語のみ
      if((cnt-1) < 0){
        return;
      }

      cnt = cnt - 1;
      if(flg == 1){
        cnt = cnt -1;
      }
      console.log(cnt);
      console.log(array_change[cnt]);
      pDiv1.innerHTML = array_change[cnt][0];
      pDiv2.innerHTML = '　';
      pDiv3.innerHTML = '　';
      pDiv4.innerHTML = '　';
      pDiv5.innerHTML = '　';
      pcnt.innerText = cnt + 1 + '問目／' + quantity + '問';
      
      flg = 0;

  };
    //*****************************************************************
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</html>