<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>sample</title>
  <meta name="viwport" content="width=device-width,initial-scale=1.0">
</head>

<body>
    <nav>
        <div class="logo">
            <h4>単語</h4>
        </div>
        <ul class="nav-links">
            <li><a href="/">top</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/newAccount">add</a></li>
            <li><a href="/upload">upload</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <div class="black-bg" id="js-black-bg"></div>
    </nav>




