<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>単語</title>
</head>
<body>
    <div class="container">
        <h1>Sign UP</h1>
        <a href="/">戻る</a>
        <form method="POST" action="newAccount">
            <div class="form-group">
                <label for="email">email</label>
                <input type="email" id="email" name="email" 
                    class="form-control">
            </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" 
                    class="form-control">
                </div>
                <div class="form-group">
                <input type="submit" class="btn btn-primary">
            </div>
            <% if (message != null){ %> 
            <p><%- message %> </p>
            <p>アドレス：<%- mail %> </p>
            <% } %> 
    
        </form>

    </div>

</body>
</html>