*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}
#nav > div > p > button{
    font-size: 16px;
    padding: 4px
}
.filebtn{
    
    text-decoration: none;
    color: #000;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#ffffff,#eff0f5),radial-gradient(circle at top left,#fd5d00,#02191d);   
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.filebtn:hover{
    transition: 0.2s;
    transform: scale(1.15);
    
    /* background-image: linear-gradient(#000,#000),radial-gradient(circle at top left,#02191d,#fd5d00);;
    color: #fff; */


}
.play-btn-inner{
    
    color: #000;
    height: 80px;
    width:80px;
    border: 2px solid transparent;   
    border-radius: 50%;
    background-image: linear-gradient(#ffffff,#ffffff),radial-gradient(circle at top left,#fd00da,#19d7f8);   
    background-origin: border-box;
    background-clip: content-box,border-box; 
    text-align: center;
   

    
}


#textdiv_1{
    user-select: none; /* CSS3 */
    -webkit-user-select: none; /* Safari、Chromeなど */

    font-weight: 300;
    font-size: 1.5rem;
}

nav{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    /* background-color: #386685; */
    /* font-family: 'Poppins', sans-serif; */
    border-bottom: 1px solid;
    
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
}
.card-body{
    height: 300px;
}

.button{
    user-select: none; /* CSS3 */
    -webkit-user-select: none; /* Safari、Chromeなど */
    display: flex;
    justify-content: center;
    
}
.button > button{
    user-select: none; /* CSS3 */
    -webkit-user-select: none; /* Safari、Chromeなど */

    margin-left: 25px;
    margin-right: 25px;
}
.button > button:focus{
    outline: none;
}
.logo{

    color: rgb(219, 215, 215);
    color: black;

    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: black;

    /* color:  rgb(219, 215, 215); */
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
    
}
.burger div{
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width: 768px){
    body{
        /* overflow-x: hidden; */
        overflow-x: none;
    }
    nav{
        padding-top: 0;
        padding-bottom: 0;

    }
    
    .card-body{
        height: 400px;
    }
    .nav-links{
        opacity: 0;
        width: 50%;
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        right: 0px;
        height: 100vh;
        top: 0;
        background-color:white;
        transform: translateX(100%); 
        transition: transform 0.3s ease-in;
        z-index: 200;

    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        position: absolute;
        top: 17px;
        right: 30px;
        display: block;
        z-index: 200;
    }

}

.nav-active{
    opacity: 1;
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-4.5px, 6px);
}
.toggle .line2{
    /* transition: transform 0.3s ease-in; */

    transform: translateX(50px);
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-4.5px, -6px);
}

.black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
  }
  .nav-open .black-bg {
    opacity: .8;
    visibility: visible;
  }